*/* {
 border: 1px solid red;
}
*/
body {
 display:flex;
 flex-direction: column;
 justify-content: space-between;

 font-family: Roboto, sans-serif;
 margin:0;
 border: 0;
}

a {
 text-decoration: none;
 color: #E5E7EB;
 margin: 8px;
}

h1 {
 color: #F9FAF8;
 font-size: 48px;
 font-weight: bolder;
 margin: 0;
 padding: 0;
}

h2 {
 margin: 0;
 padding: 0;
}

img {
 width:200px;
 height:200px;
}

button {
 background-color: #3882F6;
 color: #F9FAF8;
 font-weight: bold;
 flex: 0;
 border-radius: 8px;
 padding: 4px 24px;
 white-space: nowrap;
}

.header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 8px;
 padding: 8px 112px;
 background-color: #1F2937;
 color: #F9FAF8;
}

.footer {
 background-color: #1F2937;
 color: #F9FAF8;
 display: flex;
 justify-content: center;
 padding: 32px;
}

.header-logo{
 font-size: 24px;
 font-weight: bold;
 margin-right: auto;
}

.hero{
 background-color: #1F2937;
 color: #E5E7EB;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 80px 112px;
 gap: 16px;
}

.hero-text {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 gap: 8px;
 max-width: 400px;
}

.hero-image {
 width:400px;
 height: 200px;
}

.info {
 display: flex;
 flex-direction: column;
 text-align: center;
 flex-shrink: 1;
 padding: 56px 160px;
 gap: 32px;
}

.info-content {
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 margin: auto;
 flex-shrink: 1;
 gap: 48px;
}

.item {
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-shrink: 1;
 width: 150px;
}

.item > img {
 flex-shrink: 1;
 border: 2px solid #3882F6;
 border-radius: 8px;
 width: 150px;
 height: 150px;
}

.quote {
 background-color: #E5E7EB;
 font-weight: bold;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: flex-end;
 padding: 56px 160px;
}

.quote-source {
 font-style: normal;
 font-weight: 600;
 font-size: 24px;
 max-width: 800px;
 text-align: end;
}

.quote-body {
 font-size: 36px;
 font-style: italic;
 font-weight: 300;
 color: #1F2937;
 margin: auto;
 max-width: 800px;
}

.cta {
 background-color: #3882F6;
 color: #F9FAF8;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 margin: 80px auto;
 padding: 40px 80px;
 border-radius: 8px;
 max-width: 800px;
 flex-shrink: 1;
}

.cta-text {
 display: flex;
 flex-direction: column;
 gap: 8px;
}
.cta > button {
 border: 1px solid white;
}